* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.outline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 28, 51);
    border-radius: 20px;
    width: 500px;
    height: 850px;
}

#display {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'Orbitron', sans-serif;
    background-color: white;
    font-size: 50px;
    border: 2px solid red;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 15px;
    border-radius: 20px;
    height: 150px;
    width: 450px;
}

.calculator {
    display: grid;
    grid-template-areas:
    "ac division multiplication del"
    "seven eight nine subtraction"
    "four five six addition"
    "one two three equals"
    "remainder zeroval decimalval equals";
    border-radius: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 600px;
    width: 450px; 
    background-color: rgb(79, 75, 102);
}

.calculator div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(15, 29, 41);
    border-radius: 20px;
    font-size: 25px;
    margin: 5px;
}

.calculator div:hover {
    cursor: pointer;
    background-color: rgb(37, 41, 70);
}

.calculator div:active {
    background-color: white;
    color: black;
}

.ac {
    grid-area: ac;
}

.division {
    grid-area: division;
}

.multiplication {
    grid-area: multiplication;
}

.del {
    grid-area: del;
}

.seven {
    grid-area: seven;
}   

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.subtraction {
    grid-area: subtraction;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.addition {
    grid-area: addition;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.equals {
    grid-area: equals;
}   

.remainder {
    grid-area: remainder;
}

.zeroval {
    grid-area: zeroval;
}

.decimalval {
    grid-area: decimalval;
}